@model UserAuth

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 2em;
        }

        .card {
            border: none;
            border-radius: 0.5em;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #fff;
            border-bottom: none;
        }

        .card-title {
            font-weight: bold;
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }

        .form-group {
            margin-bottom: 1.5em;
        }

        label {
            font-weight: bold;
        }

        input[type="email"],
        input[type="password"] {
            border-radius: 0.5em;
            padding: 1em;
            border: 1px solid #ced4da;
            background-color: #f8f9fa;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 0.5em;
            padding: 1em 2em;
            font-size: 1em;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .text-danger {
            font-size: 0.8em;
        }

        .light-color {
            color: #ccc;
        }

    </style>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <p class="card-title  light-color">Login as an Admin or User</p>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Login" method="post" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="PasswordHash">Password</label>
                            <input asp-for="PasswordHash" type="password" class="form-control" id="PasswordHash" required>
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>